
body{
  background-image: url("https://orig00.deviantart.net/9369/f/2014/100/9/f/space_by_littlefiredragon-d7dz6nj.png");

}

/*Input field
*/
input{
  font-size: 16px;
  margin-bottom: 5px;
  border-radius: 5px;
}

input:focus, input:hover{
  background-color: powderblue;
}

#input{
  font-size: 17px;
  color: DarkOrange;
  font-family: Arial;
}

#submit{
  padding: 4px;
  background-color: lightgray;
  border-bottom: 2px solid black;
  font-size: 15px;
}

#submit:hover{
  border: 1px solid red;
  background-color: pink;
}

fieldset{
  padding: 15px;
  border-radius: 10px;
  text-align: right;
  width: 360px;
}

legend{
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 5px 10px;
  text-align: left;
  color: black;
}

/*Cost output
*/
p{
  font-size: 22px;
  font-family: serif;
  font-weight: bold;
  margin-left: 50px;
  color: green;
  margin-bottom: 5px;
}

#output{
  height:50px;
  width:155px;
  font-size: 24px;
  text-align: right;
  color: DarkOrange;
}

/*Table
*/
#store{
  padding: 10px;
  border: white;
  border-bottom: black;
  border-right: black;
}

td, th{
  text-align: left;
  width:190px;
  padding: 5px 7px 7px 7px;
  color: DarkOrange;
  font-family: Garamond;
  font-size: 18px;
}

td#money{
  text-align: right;
}

td#title{
  font-style: italic;
}

td#gone{
  text-align: center;
}

th{
  border-bottom: 2px solid black;
  text-transform: uppercase;
}

tr:hover {
  background-color: darkSlateBlue;
}

.lose:hover{
  background-color: red;
}
